<head>
        <link rel="stylesheet" href="./bootstrap.css">
</head>

<body>
    <div class="container">
        <div class="col-sm-12 text-center">
            <h1>Taxonomy Annotation</h1>
        
            <p> Sequences in these samples are processed using QIIME suit. To find Operational Taxonomic Units (OTUs) we use the pick_open_reference_otus.py script with default parameters. Then, we used the RDP classifier to assign the taxa of each OTU. To compare the differences among the samples, we use the deseq2 normalization. 
            </p>
        </div>


        <div class="col-sm-4 text-center">
            <h3>Rarefaction curves</h3>
            <p>Rarefaction curves represent the diversity of species richness (the number of species that are presented in the system). 
                A rarefaction is a random collection of sequences from a sample, with a specified depth (number of sequences). For example, a rarefaction with a depth of 100 reads per sample is an approximation of what your sequencing results would look like if you sequenced exactly 100 reads from each sample.
            </p>
            <p>
                In this analysis we setup as 20 the minimum number of reads required for each sample.
            </p>
            <p>We report two <strong>rarefaction curves:</strong> <a href="./rarefaction_curves_alpha/average_plots/chao1SampleID.pdf">Chao</a> and <a href="./rarefaction_curves_alpha/average_plots/observed_speciesSampleID.pdf">Observed Species</a>  </p>
        </div>
        
        <div class="col-sm-4 text-center">
            <h3>Taxonomy relative abundance</h3>
            These plots show the relative abundance distribution of the analyzed samples. The number of reads are scaled to 0-100. 
            <p><strong>Phylum:</strong> <a href="./tax_levels/phylum_charts/bar_charts.html">BarCharts</a>  or <a href="./tax_levels/otu_table_mc2_w_tax.deseq2.tax_L2.txt.taxo.pdf">HeatMap</a>
                <br>
                <strong>Class:</strong> 
                <a href="./tax_levels/class_charts/bar_charts.html">BarCharts</a> or
                <a href="./tax_levels/otu_table_mc2_w_tax.deseq2.tax_L3.txt.taxo.pdf">HeatMap</a>
            </p>
        </div>

        <div class="col-sm-4 text-center">
            <h3>Taxonomy relevance</h3>
            These plots shows the relevance of each taxa through all the samples. It helps to understand the importance of the non-dominant taxas to certain sample. This visualization can be viewed as the relative abundance respect the taxas (instead of samples). Therefore, these visualizations do not help you to interpret which taxa is the most abundant in your sample, but, it tells you the sample(s) where a taxa is more abundant independent of the taxa number of reads.

            <p>
                <strong>Phylum:</strong>
                    <a href="./tax_levels/phylum.pdf">HeatMap</a>
                <br>
                <strong>Class:</strong>
                    <a href="./tax_levels/class.pdf">HeatMap</a>
            </p>
        </div>

        
    </div>
</body>